<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Paleo Robbie</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.food.paleorobbie</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.food.paleorobbie.payments</string>
				<string>fb714691576432527</string>
				<string>paleorobbie</string>
				<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>714691576432527</string>
	<key>FacebookClientToken</key>
	<string>a4f7447db8351fe464000cb4396d4d50</string>
	<key>FacebookDisplayName</key>
	<string>Paleo Robbie</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>lineauth2</string>
    <string>https</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We’ll use your location to determine your delivery fee and eligibility to order some products. For example, a few products are not available outside of Bangkok due to fragility.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We’ll use your location to determine your delivery fee and eligibility to order some products. For example, a few products are not available outside of Bangkok due to fragility.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We’ll use your location to determine your delivery fee and eligibility to order some products. For example, a few products are not available outside of Bangkok due to fragility.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your photos</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Your data is used to deliver better ads on social media and help us decide which new products to create.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
